/*------------------------------------------------------------------------------
404
------------------------------------------------------------------------------*/

body.error404 {
	#primary {
		background:#32a3cb;
	}
	.post.error404 {
		margin:80px 0;
		text-align:center;
		.entry-title {
			font-size: 160px;
		    font-weight: bold;
		    line-height: 100%;
		    margin: 0 0 20px;
			color:#fff;
		}
		.entry-tagline {
			font-size:22px;
			margin: 0 0 20px;
			line-height: 100%;
			color:#fff;
		}
		.search-form .search-field {
			width:320px;	
		}
		.search-form .search-submit {
			display:none;	
		}
	}
}