.alignleft {
  display: inline;
  float: left;
  margin-right: $typog-vertspace * 2;
  margin-bottom:$typog-vertspace;
}
.alignright {
  display: inline;
  float: right;
  margin-left: $typog-vertspace * 2;
  margin-bottom:$typog-vertspace;
}
.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}
.wp-caption {
  max-width: 100%;
  margin:0 -15px $typog-320-vertspace;
  position:relative;
  font-style:italic;
  font-size:12px;
  @media screen and (min-width: 321px) {
    margin:0 0 $typog-vertspace;
  }
  > a {
    display:block;
    border:0 !important;
    line-height:0;
  }
  img {
    max-width:100%;
    height:auto;  
  }
  &.alignleft {
    margin-right:$typog-vertspace;  
  }
  &.alignright {
    margin-left:$typog-vertspace; 
  }
  &.aligncenter {
    margin:0 auto $typog-vertspace; 
  }
  .wp-caption-text {
    font-style:italic;
  }
}
.wp-smiley {
  border: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure videos and embeds fit their containers */
embed,
iframe,
object,
video {
  max-width: 100%;
}