.ht-voting {

	.ht-voting-links {
		display: inline-block;
		margin: 0 0 5px;
		.ht-voting-upvote, 
		.ht-voting-downvote {
			display: inline-block;
			background: #919195;
			color: #fff;
			text-decoration: none;
			padding: 10px 15px;
			font-size: 14px;
			line-height: 1;
			@include border-radius(2px);
			&:before {
			  font-family: FontAwesome;
			  margin:0 7px 0 0;
			}
		}
		.ht-voting-upvote {
			background: $vote-up;
			&:before {
			  content: $icon-thumbsup;
			}
		}
		.ht-voting-downvote {
			background: $vote-down;
			&:before {
			  content: $icon-thumbsdown;
			}
		}

		&.ht-voting-up {
			.ht-voting-upvote {
				background: #919195;
				cursor: not-allowed;
			}
			.ht-voting-downvote:hover {
				background: lighten($vote-down, 8%);
			}
		}

		&.ht-voting-down {
			.ht-voting-downvote {
				background: #919195;
				cursor: not-allowed;
			}
			.ht-voting-upvote:hover {
				background: lighten($vote-up, 8%);
			}
		}
		br { 
		/* fix those annoying themes or other plugins that insist on adding wpautop filter to post shortcode content */
			display: none
		}
	}

	.ht-voting-login-required {
		background-color: red;
		color: #fff;
		margin: 2px;
		padding: 2px;
	}

	.ht-voting-how-helpful {
		font-size: 12px;
		display: inline-block;
		margin: 0 0 0 5px;
		color: $lighttxt-color;
	}
}