//
// Hero Grid
//
.ht-grid {
  *zoom:1;
  &.ht-grid-gutter-10 {
    @media screen and (min-width: 400px) {
      margin:0 -10px;
    }
    .ht-grid-col {
      @media screen and (min-width: 400px) {
        padding:0 10px;
      }
    }
  }
  &.ht-grid-gutter-20 {
    @media screen and (min-width: 400px) {
      margin:0 -20px; 
    }
    .ht-grid-col {
      @media screen and (min-width: 400px) {
        padding:0 20px;
      }
    } 
  }
  &.ht-grid-gutter-30 {
    @media screen and (min-width: 400px) {
      margin:0 -30px; 
    }
   .ht-grid-col {
      @media screen and (min-width: 400px) {
        padding:0 30px;
      }
    }
  }
  &.ht-grid-gutter-bottom-10 .ht-grid-col {
    margin-bottom:10px;
  }
  &.ht-grid-gutter-bottom-20 .ht-grid-col {
    margin-bottom:20px;
  }
  &.ht-grid-gutter-bottom-30 .ht-grid-col {
    margin-bottom:30px;
  }
  &.ht-grid-gutter-bottom-40 .ht-grid-col {
    margin-bottom:40px;
  }
  &:before,
  &:after{
    display:table;
    content:"";
  }
  &:after{
    clear:both;
  }
  .ht-grid-col {
    float:left;
  }
  .ht-grid-12 {
    width:100%;
  }
  .ht-grid-11 {
    width:91.666%;
  }
  .ht-grid-10 {
    width:83.333%;
  }
  .ht-grid-9 {
    width:75%;
  }
  .ht-grid-8 {
    width:66.666%;
  }
  .ht-grid-7 {
    width:58.333%;
  }
  .ht-grid-6 {
    width:50%;
  }
  .ht-grid-5 {
    width:41.666%;
  }
  .ht-grid-4 {
    width:33.333%;
  }
  .ht-grid-3 {
    width:25%;
    @media screen and (max-width: 720px) {
      width:50%;
    }
    @media screen and (max-width: 480px) {
      width:100%;
    }
  }
  .ht-grid-2 {
    width:16.666%;
    @media screen and (max-width: 800px) {
      width:33.333%;
    }
    @media screen and (max-width: 600px) {
      width:50%;
    }
    @media screen and (max-width: 400px) {
      width:100%;
    }
  }
  .ht-grid-1 {
    width:8.333%;
    @media screen and (max-width: 800px) {
      width:16.666%;
    }
    @media screen and (max-width: 600px) {
      width:25%;
    }
    @media screen and (max-width: 400px) {
      width:33.333%;
    }
  }
  .ht-grid-11,
  .ht-grid-10,
  .ht-grid-9,
  .ht-grid-8,
  .ht-grid-7,
  .ht-grid-6,
  .ht-grid-5,
  .ht-grid-4 {
    @media screen and (max-width: 620px) {
      width:100%;
    }
  }
}