// Load Utility Modules
@import "ht-core-css/utilities/loader";

// Load Theme Variables
@import "theme_vars";


/* KB Universal Styles */
.ht_kb {

}
.ht-kb-entry-meta {
	list-style: none;
	color: $lighttxt-color;
	font-size: 12px;
	margin: 10px 0 0;
	padding: 0;
	a {
		text-decoration: none;
		&,
		&:visited {
		}
		&:hover {
			text-decoration: underline;
		}
	}
	li {
		float: left;
		margin: 0;
		padding: 0;
		&:after {
			content:"|";
			margin:0 5px;
			color:#e1e3e6;
		}
		&:last-child:after {
			content: none;
		}
		span {}
		i {
			margin:0 5px 0 0;
		}
		a {
			text-decoration: none;
		}
	}
}
#ht-kb-rate-article {
  	border-bottom: 1px solid $border-color;
	margin: 0 0 30px;
	padding: 0 0 20px;
	#ht-kb-rate-article-title {
		margin: 0 0 15px;
	}
}
#ht-kb-related-articles {
	margin: 0 0 40px;
	#ht-kb-related-articles-title {
	    font-size: 22px;
	    font-weight: 600;
		margin: 0 0 20px;
		padding: 0 0 15px;
		border-bottom: 2px solid $border-color;
	}
	.ht-kb-usefulness {
		float: right;
	    font-size: 12px;
	    line-height: 1;
	    padding: 5px;
	    &:before {
	    	margin-right: 5px;
	    }
	}
}

/* KB CPT Archive */
#ht-kb-category-header {}

.ht-kb-title {
	font-size: 24px;
	line-height: 1;
	margin: 0;
	@media screen and (min-width: 321px) {
		font-size: 30px;
	}
}
.ht-kb-category {}

.ht-kb-category-archive {
	.ht-kb-sub-cats {
		padding: 0 0 10px 60px;
		border-bottom: 1px solid $border-color;
		.ht-kb-category-header {
			margin: 20px 0 0;
			padding: 0 0 15px;
			border-bottom: 0;
			&[data-ht-category-custom-icon="false"]:before {
				margin: 2px 0 0;
			}
			&[data-ht-category-icon="true"] .ht-kb-category-title, 
			&[data-ht-category-icon="true"] .ht-kb-category-desc {

			}
			&[data-ht-category-desc="false"][data-ht-category-custom-icon="false"]:before {
				margin: -3px 0 0;
			}
			&[data-ht-category-desc="false"][data-ht-category-custom-icon="true"] .ht-kb-category-thumb {
				margin: -2px 0 0;
				content: "hey";
			}
			.ht-kb-category-title {
				font-size: 18px !important;
			}
			.ht-kb-category-desc {
				font-size: 13px;
				line-height: 18px;
				margin-top: 5px;
			}
		}
	}
}

.ht-kb-archive {

	.ht-kb-sub-cats {
		list-style: none;
		margin: 15px 0 0 30px;
		padding: 0;
		.ht-kb-sub-cats {
			margin: 5px 0 0 30px;
		}
	}
	.ht-kb-sub-cat {
		margin: 0 0 15px;
		.ht-kb-sub-cat {
			margin: 0 0 10px;
		}
	}
	.ht-kb-sub-cat-title {
		display: inline-block;
		line-height: 1.2;
		font-size: 16px;
		font-weight: $heading-fontweight;
		color: $heading-fontcolor;
		position: relative;
		&:before {
			font-family: FontAwesome;
			font-size: 21px;
			line-height: 21px;
			content: "\f114";
			color: $icon-color;
			position: absolute;
			left: -30px;
			top: -2px;
		}
	}
	.ht-kb-article-list {
		margin: 10px 0 0;
	}

}


/* KB Articles */

.kb-articles-display {
	margin-bottom: 20px;
}
.kb-articles-display h2 a {
	text-decoration: none;
	font-size: 25px;
	color: $typog-fontcolor;
}
.kb-articles-display h2:before{
	content: "\f0f6";
	display: inline-block;
	font-family: FontAwesome;
	font-size: 26px;
	font-weight: normal;
	color: $icon-color;
	margin-right: 10px;
}

#ht-kb-attachments {
	border-bottom: 1px solid $border-color;
	margin: 0 0 20px;
	padding:  0 0 15px;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	a {
		text-decoration: none;
		font-weight: normal;
		color: $typog-fontcolor;
		&:before{
			content: "\f0c7";
			display: inline-block;
			font-family: FontAwesome;
			font-weight: normal;
			color: $icon-color;
			margin-right: 10px;
		}
	}
}



.ht-kb-most-helpful-user,
.ht-kb-most-viewed-article,
.ht-kb-most-helpful-article {
	background:#919195;
	font-size:80%;
	color: #fff;
	padding: 2px 5px;
	margin: 0 0 0 5px;
	line-height: 1;
	position:relative;
	top: -8px;
	white-space: nowrap;
	@include border-radius(2px);
}



/* KB Archive Styles */
#ht-kb.ht-kb-archive {}

/* KB Category Styles */
#ht-kb.ht-kb-category {}

/* KB Search Styles */
#ht-kb.ht-kb-search {}

/* KB Single Styles */
#ht-kb.ht-kb-single {
	.hentry.ht_kb {
		padding:15px 0;
		@media screen and (min-width: 500px) {
			padding:30px 0;
		}
	}
	.entry-title {
		display: inline-block; 
	}

}

/* KB Search Results */
#jquery-live-search {
	background: #fff;
	padding: 0;
	margin: -2px 0;

	overflow: auto;
	position: absolute;
	z-index: 99;
	-webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
	@include border-radius(2px);

	max-height: 280px;
}
#ht-kb-search-result {
	list-style: none;
	margin: 0;
	padding: 0;
	background: #f7fafa;
	li {
		@include transition(all, .15s, ease-out);
		&:hover {
			background: #f1f2f2;
		}
		a {
			display: block;
			color:inherit;
			text-decoration: none;
			position: relative;
			padding: 10px 15px 10px 40px;
			&:before {
				position:absolute;
				top:10px;
				left: 15px;
			}
		}
		&.ht-kb a:before,
		&.ht-kb-category a:before,
		&.ht-kb-tag a:before {
			font-family: FontAwesome;
			color: $icon-color;
		}
		&.ht-kb a:before {
			content: "\f0f6" !important;
		}
		&.ht-kb.format-standard a:before {
			content: "\f0f6" !important;
		}
		&.ht-kb.format-video a:before {
			content: "\f1c8" !important;
		}
		&.ht-kb-category a:before {
			content: "\f114" !important;
		}
		&.ht-kb-tag a:before {
			content: "\f02b" !important;
		}
		&:nth-child(2n+2) a {
			margin-top: -5px;
		}
		.ht-kb-search-result-title {
			color: $heading-fontcolor;
			display: inline-block;
			@media screen and (min-width: 321px) {
				padding-right: 200px;
			}
		}
		.ht-kb-search-result-excerpt {
			color: $lighttxt-color;
			padding: 10px 0 0;
			font-size:14px;
			line-height: 20px;
			display: none;
			@media screen and (min-width: 321px) {
				display: block;
			}
			p {
				margin: 0;
			}
		}
		.ht-kb-search-result-meta {
			font-size:12px;
			position: absolute;
			top: 10px;
			right:15px;
			color: #666;
			display: none;
			@media screen and (min-width: 321px) {
				display: block;
			}
			span {
				background: #ededed;
				display: inline-block;
				line-height: 1;
				padding: 5px 6px;
			}
		}
		.ht-kb-view-count:before {
			display: inline-block;
			content: "\f06e";
			font-family: FontAwesome;
			margin-right: 8px;
			color: $icon-color;
		}
		.ht-kb-comments-count:before {
			display: inline-block;
			content: "\f0e5";
			font-family: FontAwesome;
			margin-right: 8px;
			color: $icon-color;
		}
	}
}

.ht-kb-category-wrapper {}

.ht-kb-category-header {
	position: relative;
	padding: 0 0 20px;
	border-bottom: 2px solid $border-color;
	@media screen and (max-width: 321px) {
		margin: 0 -15px;
  	}
	.ht-kb-category-thumb {
		float: left;
		margin: 5px 0 0;
		img {
			max-width: 30px;
		}
	}
	.ht-kb-category-title {
		font-size: 18px;
		margin: 0;
		line-height: 1.2;
		a,
		a:visited {
			color: $heading-fontcolor;
			text-decoration: none;
		}
	}	
	.ht-kb-category-desc {
		margin: 10px 0 0;
		font-size: 14px;
		line-height: 19px;
	}

	&[data-ht-category-icon="true"] {
		.ht-kb-category-title,
		.ht-kb-category-desc {
			margin-left:50px
		}
	}
	&[data-ht-category-icon="false"] {}
	&[data-ht-category-custom-icon="true"] {}	
	&[data-ht-category-custom-icon="false"] {
		&:before {
			float: left;
			font-family: FontAwesome;
			font-size: 30px;
			line-height: 30px;
			content: "\f114";
			color: $icon-color;
			margin: 4px 0 0;
		}
	}
	&[data-ht-category-desc="false"][data-ht-category-custom-icon="false"]:before {
		margin: -1px 0 0;
	}
	&[data-ht-category-desc="false"][data-ht-category-custom-icon="true"] .ht-kb-category-thumb {
		margin: -2px 0 0;
	}
}

.tax-ht_kb_category .ht-kb-category .ht-kb-category-title {
	font-size: 22px;
}


.ht-kb-category-count {
	font-size: 12px;
	line-height: 1;
	margin: 0 0 0 10px;
	color: $lighttxt-color;
	&:before {
		content:"("
	}
	&:after {
		content:")"
	}
}


.tax-ht_kb_tag {
	.ht-kb-category-title-wrapper.ht-kb-category-hasicon:before {
		content: "\f02b" !important;
	}
}





.ht-kb-usefulness {
	color: #fff;
	@include border_radius(2px);
	&.ht-kb-helpful-article {
		background:#9cc051 !important;
		&:before {
			content: $icon-thumbsup;
		}
	}
	&.ht-kb-unhelpful-article {
		background:#d26a40 !important;
		&:before {
			content: $icon-thumbsdown;
		}
	}
	&:before {
		display: inline-block;
		font-family: FontAwesome;
		margin-right: 8px;
	}
}


.HT_KB_Articles_Widget {
	.widget-entry-title {
		font-size:14px;
		&,
		&:visited {
			color: #333 !important;
		}
	}
	> ul > li {
		position: relative;
		padding-left: 30px;
		&:before {
			font-family: FontAwesome;
			content: "\f0f6";
			margin: 0 12px 0 0;
			font-size: 15px;
			color: $icon-color;
			position: absolute;
			left: 0;
			top: 2px;
			display: inline-block;
		}
		&.ht-kb-pf-video:before {
			content: "\f1c8";
		}
	}
	.widget-entry-meta {
		font-size: 11px;
		color: #666d73;
		margin: 5px 0 0;
		padding: 0;
		li {
			display: inline-block;
			margin: 0 5px 0 0;
			&:last-child {
				margin: 0;
			}
			&.entry-date span:before,
			&.entry-comments span:before {
				display: inline-block;
				font-family: FontAwesome;
				color: $icon-color;
				position: relative;
   				top: -1px;
			}
			&.entry-date span:before {
				content: $icon-date;
			}
			&.entry-comments span:before {
				content: "\f0e5";
				margin-right: 3px;
			}
			&.entry-rating span:before {
		   		margin-right: 5px;
			}
			span {
				font-size:11px;
				background: #e2e5e6;
			    display: inline-block;
			    line-height: 1;
			    padding: 5px;
			    @include border-radius(2px);
			}
		}
	}
	
}

.HT_KB_Authors_Widget {
	.widget-user-title {
		&,
		&:visited {
		font-weight: bold;
	    color: $heading-fontcolor !important;
	    font-size: 15px;
		}
	}
	.ht-kb-author-avatar {
		float:left;
		margin: 0 15px 0 0;
		a {
			line-height: 1;
		}
	}
	.ht-kb-authored-count {
		color: #666d73;
		span {
			clear: right;
			float:right;
			font-size: 85%;
		    line-height: 1;
		    padding: 5px;
		    margin: 1px 0 0;
		    background:#fff;
		    @include border_radius(4px);
		}
	}
}




.ht-kb-article-list {
	list-style:none;
	padding:0;
	margin:15px 0 0;
	font-size: 14px;
	display: none;
	@media screen and (min-width: 321px) {
		display: block;
	}
	li {
		margin:0 0 8px;
		padding:0 0 8px;
		border-bottom:1px solid #e1e3e6;

		&:before {
			font-family: FontAwesome;
			content: "\f0f6";
			margin: 0 12px 0 0;
			font-size: 16px;
			color:$icon-color;
		}
		&.format-video:before {
			content: "\f1c8";
		}
		&.ht-kb-show-all-articles:before {
			content: "\f18e";
			margin: 0 9px 0 0px;
		}
		&:last-child-off {
			border-bottom:0;
			padding: 0;
			margin: 0;
		}
		a {
			text-decoration: none;
			color: inherit;
		}
	}	
}



#ht-kb.ht-kb-category-archive,
#ht-kb.ht-kb-archive {
	margin-top: 40px;
	margin-bottom: 40px;
}



.ht-kb-category-count {
	font-size: 12px;
}

.ht-kb-meta {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 11px;
  line-height: 1;
  li {
    display: inline-block;
    padding: 5px 6px;
    background: #ededed;
    &.ht-kb-view-count:before,
    &.ht-kb-comments-count:before {
      display: inline-block;
      font-family: FontAwesome;
      margin-right: 8px;
      color: $icon-color;
    }
    &.ht-kb-view-count:before {
      content: "\f06e";
    }
    &.ht-kb-comments-count:before {
      content: "\f0e5";
    }
  }
}